@background-site: #C0C0C0;
@background-container: rgba(0,0,0,0.5);
@text-color: #D0D0D0;
@text-bold: #F0F0F0;

@margin-md: 40px;
@margin-sm: (@margin-md/2);


@padding-md: @margin-md;
@padding-sm: @margin-sm;
