@import "constants.less";
@import "mixins.less";

/* GLOBAL RESET */

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	background: url('../images/bg.gif') top left repeat-x;
	background-color: @background-site;
	color: @text-color;
}

h1,h2,h3,h4,h5,h6,p {
	margin: 0;
	padding: 0;
}

h1,b,strong {
	color: @text-bold;
}

#container {
	max-width: 1400px;
	margin: 0 auto;
	border-radius: 4px;

	> div {
		margin: @margin-sm 0;
		padding: @padding-sm;
	}
	
}//#container

.top-info, .bottom-info {
	background-color: @background-container;
	text-align: center;

	h1 {
		text-transform: uppercase;
		letter-spacing: 2.5px;
	}
	
}//.top-info, .bottom-info

/* HOMEPAGE */

.homepage-buckets {

	display: table;
	width: 100%;

	.bucket {
		display: table-cell;
		text-align: center;
		width: 25%;
	}

}//.homepage-buckets

/* PROJECTS */

/* GAMES */

/* INTERESTS */

/* ABOUT */

/* 404 */