.clearfix {
  clear: both;
  display: inline-block;
}
.clearfix:before,
.clearfix:after {
  content: '';
  clear: both;
}
/* Global */
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  background: url('../images/bg.gif') top left repeat-x;
  background-color: #C0C0C0;
  color: #111;
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
p {
  margin-bottom: 20px;
}
a {
  text-decoration: none;
  color: #003fdf;
  font-weight: bold;
}
a:hover {
  color: #6f00df;
}
pre {
  z-index: 100;
  background-color: white;
  color: black;
}
img {
  width: 100%;
  height: auto;
}
ul li,
ol li {
  padding-bottom: 10px;
}
/* Floating Aside */
#aside {
  background-color: rgba(255, 255, 255, 0.95);
  color: #111;
  padding: 40px;
  display: inline-block;
  position: fixed;
  top: 80px;
  left: 80px;
  font-size: 0;
  box-sizing: content-box;
  z-index: 20;
  width: 100%;
  max-width: 250px;
  text-align: center;
  letter-spacing: 1px;
}
#aside > * {
  font-size: 16px;
}
@media only screen and (max-width: 1649px) {
  #aside {
    display: none;
  }
}
#aside img {
  max-width: 250px;
  margin-bottom: 5px;
}
#aside p {
  margin: 0 0 5px;
}
#aside p.em {
  font-style: italic;
}
#aside p.byline {
  margin: 5px 0 10px;
  font-size: 20px;
}
#aside p.title {
  font-size: 28px;
  line-height: 30px;
}
#aside p.title span {
  display: block;
}
/* Main containers */
#container {
  max-width: 1400px;
  background-color: rgba(255, 255, 255, 0.65);
  margin: 50px auto 40px;
  padding: 30px 50px 30px 300px;
  font-size: 20px;
}
@media only screen and (max-width: 1649px) {
  #container {
    padding-left: 50px;
  }
}
#container h1 {
  margin-bottom: 10px;
  font-size: 28px;
}
#container h2 {
  font-size: 18px;
  font-style: italic;
  font-weight: normal;
  margin-bottom: 20px;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid #111;
}
#container p {
  line-height: 30px;
}
.inner {
  position: relative;
  z-index: 2;
  max-width: 1400px;
  margin: 50px auto 0;
  padding: 30px 50px 30px 300px;
  font-size: 20px;
}
@media only screen and (max-width: 1649px) {
  .inner {
    padding-left: 50px;
  }
}
.portfolio {
  width: 100%;
  clear: both;
  display: inline-block;
}
.portfolio:before,
.portfolio:after {
  content: '';
  clear: both;
}
.portfolio .node {
  width: 33%;
  float: left;
  padding: 0 20px;
  text-align: center;
  margin-bottom: 40px;
}
.portfolio .node * {
  display: block;
}
.portfolio .node img {
  width: 100%;
  height: auto;
}
.portfolio .node h1 {
  text-align: center;
  font-size: 20px;
}
.portfolio .node span {
  font-style: italic;
}
.portfolio .node:nth-child(3n+1) {
  clear: both;
  display: inline-block;
}
.portfolio .node:nth-child(3n+1):before,
.portfolio .node:nth-child(3n+1):after {
  content: '';
  clear: both;
}
/* Background images (blur images by 5px) */
#games {
  position: relative;
  overflow: hidden;
  background-color: #402020;
  color: white;
}
#games::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background: url('../images/banner-games.png') 50% 50%;
  background-size: cover;
}
#projects {
  position: relative;
  overflow: hidden;
  background-color: #202040;
  color: white;
}
#projects::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background: url('../images/banner-projects.png') 50% 50%;
  background-size: cover;
}
#photography {
  position: relative;
  overflow: hidden;
  background-color: #204020;
  color: white;
}
#photography::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background: url('../images/IMG_5543.JPG') 50% 50%;
  background-size: cover;
}
#workplace {
  position: relative;
  overflow: hidden;
  background-color: #402020;
  color: white;
}
#workplace::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background: url('../images/banner-workplace.jpg') 50% 50%;
  background-size: cover;
}
#workplace img {
  width: auto;
  max-height: 100px;
  margin-left: auto;
  margin-right: auto;
}
#culture {
  background-color: #202040;
}
